
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  footer{
    position: fixed;
    bottom: -10px;
    width: 100%;
    height: 60px;   
  }
  .header-title{
    padding: 0 30px;
  }

  a{
    text-decoration: none !important;
    color: black !important;
  }
  nav{
   height: 50px;
   box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  nav ul li{
    list-style: none;
    text-decoration: none !important;
    
  }
  nav ul{
   
    height: 100%;
    gap: 30px;
    font-size: 20px;
    text-decoration: none !important;

  }
  
  
  .button_account{
    cursor: pointer;
  }
  
  .display_arrow:hover{
    scale: 105%;
  }
  .btn-with-margin{
    margin-right: 10px;
  }
  
  .form-check{
    display: flex !important;
    gap: 10px !important;
    margin-bottom: 10px !important;
  
  }
  
  .form-switch .form-check-input {
    width: 2.5em !important;
    height: 1.2em !important;
  }
  
  /* .form-switch .form-check-input{
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  
  .form-check-input{
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 5px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
   */
   .conditional_div{
    display: flex;
    flex-direction: column;
   }



  
   /* TasksContainer */
   .tasksContainer{
    width: 100%;
   }
   .welcome-message{
    display: flex;
    justify-content: start;
    padding: 0 30px;
    font-size: 20px;
    margin-bottom: 10px;
  }
   @media only screen and (min-width: 1000px) {
    .welcome-message{
      display: none;
    }
   }
  
   /* TaskForm */
   .form__container__title{
    font-size: 25px;
   }
   .form__container{
    padding: 0 30px;
   }
   .formField{
    width: 100%;
    height: 40px;
   }
   .formField__text{
    width: 100%;
    height: 80px;
   }
   ::placeholder{
    font-size: 17px;
   }
   .btn-status{
    width: 100%;
    padding: 5px 0 !important;
    font-size: 14px !important;
   }
   .btn-save{
    padding: 5px 10px !important;
    font-size: 14px !important;
   }


   @media only screen and (min-width: 1000px) {
    .form__container{
      padding: 0 5rem;
     }
     .form__container__title{
      font-size: 30px;
     }
    .formField{
      height: 60px;
     }
     .formField__text{
      height: 100px;
     }
     ::placeholder{
      text-align: start;
     }
     input{
      text-align: start;
     }
     .btn-status{
      width: 100%;
      padding: 8px 0 !important;
      font-size: 17px !important;
     }
     .btn-save{
      padding: 5px 10px !important;
      font-size: 17px !important;
     }
   }
   @media only screen and (min-width: 1400px) {
    .form__container{
      padding: 0 20rem;
     }
  }
    
   /* TaskDetail */
   
  
  .task {
    border-bottom: 1px solid lightgrey; 
    padding: 0.4rem 0;
  }
  .task:first-child {
    border-top: 1px solid lightgrey; 
  }
  .tasks__holder  {
    padding: 0 30px;
    max-height: 420px; 
    overflow-y: auto;
  }

   .task__title{
    font-size: 24px;
  }
  .task__desc{
    font-size: 19px;

  }
  .display_arrow{
    width: 30px;
    height: 30px;
  }
  .btn__task{
    font-size: 14px !important;
  }
  @media only screen and (min-width: 1000px) {
    .tasks__section{
      display: flex;
      justify-content: center;
      padding: 0 4rem;
    }
    .tasks__holder  {
      width: 100%;
      margin-bottom: 20px;
      max-height: 500px; 
    }
    .task{
    padding: 0.1rem 0;
  } 
  .btn__task{
    font-size: 17px !important;
  }
  }
  @media only screen and (min-width: 1400px) {
    .tasks__section{
      display: flex;
      justify-content: center;
      padding: 0 18rem;
    }
  }

  /* TaskEditing */

  .editForm_wrapper{
    padding: 0 30px;
  }
  .editForm_wrapper h2{
    font-size: 25px;
  }
  .input-edit{
    text-align: start !important;
    font-size: 17px !important;
  }
  .input-edit-title{
    height: 40px !important;
  }
  .input-edit-text{
    height: 80px !important;
  }
  @media only screen and (min-width: 1000px) {
    .editForm_wrapper{
      padding: 0 5rem;
    }
    .input-edit-title{
      height: 60px !important;
    }
    .input-edit-text{
      height: 100px !important;
    }
    .editForm_wrapper h2{
      font-size: 30px;
    }
  }
  @media only screen and (min-width: 1400px) {
    .editForm_wrapper{
      padding: 0 20rem;
    }
   
  }

  

  
  
  
   


